<section id="promotion-section">
    <div class="promotion-section bg-[#e0e0e0] pb-[250px] lg:pb-0 pt-0 flex flex-wrap justify-between flex-col lg:flex-row">
        <div class="promo-img w-full lg:w-[calc(50%-25px)]">
          <img class="w-full h-full object-cover" src="https://cdn.shopify.com/s/files/1/0573/2201/2880/files/5.31_Split.png?v=1654004315">
        </div>
        <div class="promo-right w-full lg:w-[calc(50%-25px)] flex justify-center items-center">
          <div class="line-wrap relative w-[500px] top-0 lg:-top-[70px]">
            <div class="first_line promo_line font-[Kepler] font-normal italic absolute top-[15px] lg:top-0 text-[#040404] text-[28px] leading-normal">When it comes to color,</div>
            <div class="second_line promo_line font-[Kepler] font-normal italic absolute top-[55px] lg:top-[35px] left-0 right-0 lg:right-0 text-[#040404] text-[28px] leading-normal">there’s something to be said</div>
            <div class="third_line promo_line font-[Kepler] font-normal italic absolute top-[100px] lg:top-[65px] left-0 lg:left-[106px] text-[#040404] text-[28px] leading-normal">of the strength in quiet basics.</div>
            
            <div class="cta-btn absolute top-[160px] lg:top-[250px] w-[85%] h-[58px] text-center bg-[#242d2d] leading-[58px] right-0 left-[50%] -translate-x-[50%]"><a class="text-[28px] font-[Tungsten-Light] uppercase text-white" href="https://afternoonlight.com/blogs/stories/neutrals">SHOP NEUTRALS</a></div>
          </div>  
        </div>
      </div>
</section>


{% schema %}
  {
    "name": "Promotion Section",
    "tag": "section",
    "class": "section",
    "settings": [
     
    ],
    "presets": [
      {
        "name": "Promotion Section",
        "settings": {
        }
      }
    ]
  }
{% endschema %}